<!-- <h1>Banker Sign Up</h1> -->
<%= render 'form' %>
  <div>
    <p id="wrong_way_new_member">To sign up as a <span class="highlight">Member</span> of a susu, go <%= link_to "here", root_path, class: 'highlight' %></p>
  </div>
