<h1>Banker Dashboard</h1>

<p><%= "Welcome #{@banker.first_name} #{@banker.last_name}"%></p>

<div>
Create your susu with susuBuilder:</br>
<%= link_to "Susu Builder", new_banker_susu_path(@banker) %></br>
</div>


<%= link_to "edit my profile", edit_banker_path(@banker) %>
<%= link_to "cancel account", @banker, :method => :delete %>


