$('#calculations').empty();
$('#calculations').prepend('<div class="box"><%= "Your susu, * #{@susu_name} *  \
                    will pay out $#{@total_hand} to each member.\
                    All #{@members} members of the \
                    group will contribute $#{@pay_in_amount} \
                     #{@member_pay_in}. #{@error}" %></div>');


<%#= binding.pry %>











