<%= render 'shared/dashboard_navigation' %>
<h1>Edit</h1>
<%= link_to "back to dashboard", banker_path(@banker) %><br/>
<%= link_to "back to susu", banker_susu_path(@banker) %><br/>

<fieldset>
    <%= render "form"  %>
</fieldset>



