<footer class="footer">
  <hr>
  <header class="tabbable tabs-below">
    <nav class="tab-content pull-right">
      <ul class="nav nav-tabs">
        <li><%= link_to "testimonials", '#' %></li>
        <li><%= link_to "about", '#' %></li>
        <li><%= link_to "contact", '#' %></li>
      </ul>
    </nav>
  </header>
</footer>