<footer>
  <header>
    <nav>
      <ul>
        <li><%= link_to "footer nav links", '#' %></li>
        <li><%= link_to "footer nav links", '#' %></li>
        <li><%= link_to "footer nav links", '#' %></li>
        <li><%= link_to "footer nav links", '#' %></li>
      </ul>
    </nav>
  </header>
</footer>