/*BANKER*/

/*Banker Control/Navigation*/

.banker_nav_panel {
  float:  left;
  width:  200px;
  height: 200px;
  border: 2px solid #666;
  ul{
    margin: 4px;
  }
    li {
      display: block;
      font-size: 20px;
      margin: 4px 4px;
      padding:  10px 0px 10px 20px;
      list-style-type: none;
      text-decoration: none;
      border: 1px solid #999;
      }
}

.intro_bar {
  margin-left: 370px;
}