/*BANKER*/

@import 'style';

/*Banker Control/Navigation*/


/*Vertical side panel*/
.banker_nav_panel {
  float:  left;
  min-width:  180px;
  border-top: none;
  border: 1px solid #CCC;
  border-radius: 20px;
  margin-right: 10px;
  ul {
    margin: 4px;
    padding: 10px 10px;

  }
    li {
      font-size: 20px;
      margin: 4px 4px;
      list-style-type: none;
      background: $base_color;
      }
      a {
        display: block;
        color:  #5DD577;
        text-decoration: none;
        padding:  10px 10px;
        text-align: center;
      }
      :hover {
        color:  #FFF;
      }
}

.intro_bar {
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
  color:  #999;
}

#banker_signin_button {
  @include fat_orange_stelo;
  min-height: 45px;
  margin-left: 7px;
  padding-top: 2px;
  border-radius: 7px;
  @include bg_gradient;
  color:  #67E300;
  &:hover {
    color: $base_color;
  }
}








