/*BANKER*/

/*Banker Control/Navigation*/

/*Vertical side panel*/
.banker_nav_panel {
  float:  left;
  width:  200px;
  border-top: none;
  border: 1px solid #DDD;
  border-radius: 20px;
  margin-right: 10px;
  ul {
    margin: 4px;
    padding: 10px 10px;

  }
    li {
      font-size: 20px;
      margin: 4px 4px;
      list-style-type: none;
      background: #17B10C;
      }
      a {
        display: block;
        color:  #5DD577;
        text-decoration: none;
        padding:  10px 10px;
        text-align: center;
      }
      :hover {
        color:  #FFF;
      }
}

.intro_bar {
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
  color:  #999;
}








