/* SITE WIDE STYLING */

@import "style";

/* GENERAL */

html, body {
  height: 100%;
  background: url('handmadepaper.png');
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

a {
  color:  $base_color;
}

/* Gradient hr line */
hr {
    border: 0;
    height: 2px;
    margin:15px 0;
    position:relative;
    @include hr_fade;
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #f9f9f9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}



/* NAVIGATION */

#brand a {
  display:  inline-block;
  margin: 30px 0px 0px 30px;
  color:  $base_color;
  font-size: 32px;
  &:hover {
    text-decoration: none;
  }
}

.navbar {
  background: url('black_paper.png');
  /*background: #8FFF70;*/
  width:  100%;
  height: 100px;
  box-shadow: 0px 4px 15px #999;
  border-bottom: 1px solid #FFF;
  .brand {
     padding: 30px 55px;
     font-size: 30px;
  }
}

.pull-right {
  margin-top: -35px;
}

#nav_border_bar {
  width: 100%;
  height: 10px;
  background: $base_color;
  border-bottom: 1px solid #999;
  box-shadow: inset 0px 0px 7px #222;

}

/* Main navigation menu */
#main_nav {
  margin-top: 20px;
   li a {
    color:  $base_color;
    font-size: 16px;
    text-shadow:  none;
    &:hover {
      color:  #FFF;
      text-shadow:  none;
    }
  }
}

/*Navigation messages*/

.notice {
  padding: 10px;
  color: white;
  letter-spacing: .5em;
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  @include hr_fade;
}

.error {
  padding: 10px;
  color: white;
  letter-spacing: .5em;
  font-size: 20px;
  text-align: center;
  margin-top: -20px;
  @include hr_fade_error;
}


/* FORMS */

/* Controls the title bar within the forms */
.title_bar {
  background: $base_color;
  margin-top: -11px;
  :first-child {
    text-align: center;
    color:  #FFF;
    @include letter_shadow;
    }
}

#new_susu_title_bar {
  width: 701px;
}

.form {
  float:  left;
  min-width: 400px;
  margin-left: 5px;
  @include faint_border;
}


.split_form_vertical {
  margin-right: 440px;
  border-right: 1px solid $base_color;
}

/* Div class name that splits input elements on a form */
.break_form {
  float: left;
  width:  300px;
  margin-left: 50px;
  padding-bottom: 20px;
}

.break_form_small {
  float: left;
  width:  160px;
}

.bf_banker {
  margin-left: 80px;
}

/* FOOTER */

.footer, .push {
  padding-top: 300px;
  height: 10em;
  clear:  both;
}


