/* MEMBERS */

@import "style";

/* NEW MEMBER FORM */

#member_new {
  width:  650px;
}

.form_group_1 {
  float:  left;
  width:  230px;
}

.form_group_2 {
  float:  left;
  width:  230px;
  padding-bottom: 75px;
}

#wrong_way_new_member {
  margin-top: 55px;
  margin-left: 785px;
  padding: 14px;
  text-align: center;
  @include faint_border;
  span {
    font-weight: bold;
  }
}

.highlight {
  color: $base_color;
}

/* CONTROLS THE MEMBER PROFILE BOX ON THE SUSU FULL VIEW PAGE */

.member_panel {
  float:  right;
  width:  350px;
  margin-top: 20px;
}

.member_box {
  width: 300px;
  font-size: 14px;
  min-height: 20px;
  margin: 5px 4px;
  padding: 11px;
  /*border: 5px solid rgba(7, 219, 0, 0.3);*/
  border-radius: 20px;
  @include box_inset;
}

.member_info_button {
  float: right;
  /*color: rgb(255, 255, 255);*/
  color:  #FFC073;
  /*color:  $base_color;*/
  font-size: 16px;
  line-height: 1px;
  margin-top: -8px;
  padding: 15px;
  text-shadow: 0px 1px 1px rgba(50, 50, 50, 0.7);
  -webkit-border-radius: 16px !important;
  -moz-border-radius: 16px !important;
  border-radius: 10px !important;
  background: rgb(232, 121, 32);
  background: -moz-linear-gradient(90deg, rgb(232, 121, 32) 11%, rgb(250, 155, 39) 70%);
  background: -webkit-linear-gradient(90deg, rgb(232, 121, 32) 11%, rgb(250, 155, 39) 70%);
  background: -o-linear-gradient(90deg, rgb(232, 121, 32) 11%, rgb(250, 155, 39) 70%);
  background: -ms-linear-gradient(90deg, rgb(232, 121, 32) 11%, rgb(250, 155, 39) 70%);
  background: linear-gradient(0deg, rgb(232, 121, 32) 11%, rgb(250, 155, 39) 70%);
  -webkit-box-shadow: 0px 1px 2px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 1px 2px rgba(50, 50, 50, 0.3);
  box-shadow:         0px 1px 2px rgba(50, 50, 50, 0.3);
  &:hover {
    color:  #FFF;
  }

}












