/* SESSION STYLES */

@import 'style';

.signup_signin_form {
  font-size: 20px;
  padding: 30px;
  @include faint_border;
  @include form_bg_gradient;
}


.sign_in_title_bar {
  margin-top: -41px;
  width: 940px;
  margin-left: -31px;
}

#facebook_sign_in {
  float:  left;
  width:  400px;
  margin-left: 600px;
  margin-top: -50px;
}
