/* SUSU */

/* SUSU BUILDER FORM */

.form_field_group {
  margin-top: 20px;
  margin-left: 70px;
}

.box {
  float:  left;
  width:  240px;
  min-height:  302px;
  line-height: 1.5em;
  border: 1px solid #336B24;
  border-left: none;
  margin-top: 90px;
  font-size:  30px;
  background: #999;
  color:  #FFF;
  padding:  7px;
  padding-left: 20px;
}

/* THE PANEL CONTAINING ALL THE SUSU FOR EACH BANKER */
.all_susu_panel {
  float:  left;
  width:  470px;
  min-height: 600px;
  border: 1px solid #DDD;
  border-radius: 20px;
}

/* INDIVIDUAL SUSU BOX ON BANKER PAGE*/
.susu_box {
  float:  left;
  width:  200px;
  background: url('wavecut.png');
  min-height:  120px;
  line-height: 1.2em;
  border: 1px solid #DDD;
  box-shadow: inset 0px 0px 15px #999;
  border-radius: 15px;
  margin: 5px;
  padding: 10px;
  font-size:  16px;
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  span {
    font-weight: bold;
  }

}

#dashboard_create_susu_button {
  width:  240px;
  height: 30px;
  margin-top: 10px;
}

#dynamic_create_button {
    display:  block;
    text-decoration: none;
}

/* CREATE NEW SUSU FORM */

.new_susu_form {
  margin: 20px 0px 10px 90px;
  border: 1px solid #336B24;
  width: 320px;
  padding: 20px 0px 10px 100px;
  box-shadow: 0px 0px 20px #CCC;
}
/* SUSU SHOW PAGE */

.susu_full_view {
  float:  left;
  width:  300px;
  margin: 100px 10px 10px 70px;
  border: 25px solid rgba(7, 219, 0, 0.3);
  border-radius: 167px;

  /* Round transparent susu border */
  -moz-background-clip: border;
  -webkit-background-clip: border;
  background-clip: border;

  -moz-background-clip:padding;
  -webkit-background-clip:padding;
  background-clip:padding;

  -moz-background-clip: content;
  -webkit-background-clip: content;
  background-clip: content;

}

.susu_info {
  margin: 0px 10px 25px 82px
}

.susu_title {
  text-align: center;
  padding: 5px;
  padding-top: 20px;
}















