/* SUSU */

@import "style";

/* SUSU BUILDER FORM */

.form_field_group {
  margin-top: 20px;
  margin-left: 70px;
}

.box {
  float:  left;
  width:  240px;
  min-height:  302px;
  line-height: 1.5em;
  border: 1px solid #336B24;
  border-left: none;
  margin-top: 90px;
  font-size:  30px;
  background: #999;
  color:  #FFF;
  padding:  7px;
  padding-left: 20px;
}

/* THE PANEL CONTAINING ALL THE SUSU FOR EACH BANKER */
.all_susu_panel {
  float:  left;
  width:  470px;
  min-height: 600px;
  @include faint_border
}

/* INDIVIDUAL SUSU BOX ON BANKER PAGE*/
.susu_box {
  float:  left;
  width:  198px;
  background: url('wavecut.png');
  min-height:  120px;
  line-height: 1.2em;
  border: 1px solid #DDD;
  box-shadow: inset 0px 0px 15px #999;
  border-radius: 15px;
  margin: 7px;
  padding: 10px;
  font-size:  16px;
  ul {
    margin-left:  0;
    li {
        list-style-type: none;
        text-align: center
      }
        a {
          text-decoration: none;
        }
        span {
          color:  #999;
          font-size: 20px;
          font-weight: bold;
          /*@include letter_shadow;*/
        }
    }
}

#dashboard_create_susu_button {
  width:  240px;
  height: 30px;
  margin-top: 10px;
}

#dynamic_create_button {
    display:  block;
    text-decoration: none;
}

/* CREATE NEW SUSU FORM */

.new_susu_form {
  margin: 15px 0px 10px 210px;
  width: 700px;
  @include faint_border
}
/* SUSU SHOW PAGE */

.susu_full_view {
  float:  left;
  width:  300px;
  margin: 100px 10px 10px 10px;
  border: 25px solid rgba(7, 219, 0, 0.3);
  border-radius: 167px;
}

.susu_info {
  margin: 0px 10px 25px 82px
}

.susu_title {
  text-align: center;
  padding: 5px;
  padding-top: 20px;
}















