<section class="hero-unit" id="hero">

  <h1>Welcome to Susubank</h1>
  <h3>Lend to each other :: Save Together :: Achieve your goals</h3>

  <div class="intro_call_to_action">
    <%= link_to "New Banker Sign Up", new_banker_path %>
  </div>

  <div class="intro_call_to_action">
    <%= link_to "New Member Sign Up", '#' %>
  </div>
</section>

<section class="benefit_boxes">
  <div class="benefit_box alignleft"></div>
  <div class="benefit_box alignright"></div>
  <div class="benefit_box alignright"></div>

</section>
