
<section class="hero-unit" id="intro_background">
<div class="container">
<div id="opening_tag" class="tag_opacity">
  <h1>Susubank</h1>
  <h3>Lend to each other :: Save Together :: Achieve your goals</h3>

  <div class="intro_call_to_action">
    <%= link_to "New Banker Sign Up", new_banker_path %>
  </div>

  <div class="intro_call_to_action">
    <%= link_to "New Member Sign Up", '#' %>
  </div>
</div>
</section>

<!-- <div>
  <a href="#" class="btn btn-large btn-danger" data-toggle="popover" title="" data-content="And here's some amazing content. It's very engaging. right?" data-original-title="A Title" id="work">Click to toggle popover</a>
</div> -->

<section>
  <hr>
  <div id="midsection">
  </div>
  <hr>
</section>
<section class="benefit_boxes">
  <div class="benefit_box alignleft"></div>
  <div class="benefit_box alignright"></div>
  <div class="benefit_box alignright"></div>
</div>
</section>
